<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>

<body>
    <h1 class="display-4 alert alert-primary text-center">Prototipo SGRA</h1>
    {% block contenido %}
        <div class="container">
            <div class="text-center mt-3">
                <a href="{% url 'form' %}" class="btn btn-success">Reserva</a>
            </div>
            <div class="text-center mt-2">
                <a href="{% url 'valreserva' %}" class="btn btn-warning">Validacion de Reserva</a>
            </div>
        </div>
    {% endblock contenido %}

</body>

</html>